.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 20px;
  }

  .left-item {
    grid-column: 1;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 65%; /*new*/
  }

  .center-item {
    grid-column: 2;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  .right-item {
    grid-column: 3;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  .bottom-item {
    grid-column: 1 / 4;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
    }

    .left-item {
      grid-column: 1;
      grid-row: 1;
    }

    .center-item {
      grid-column: 1;
      grid-row: 2;
    }

    .right-item {
      grid-column: 1;
      grid-row: 3;
    }

    .bottom-item {
      grid-column: 1;
      grid-row: 4;
    }
  }

  .marginof{
    margin-top: 50px;
  }


  body {
    background-color: #000000;
    overflow: hidden;
    animation: stars 50s ease-in-out infinite;
  }
  
